.top-links a:hover {
	color: #58FAF4;
	text-decoration: none;
}
.first-post {
	color: #DF7401;
	position: absolute; 
   	top: 240px; 
   	left: 290px; 
   	width: 100%; 
   	text-align: left;
   	font-family: Verdana;
   	font-size: 20px;
}
.blog-post {
	font-family: Open Sans;
}
p span {
	color: #DF7401; 
   	font: 20px Verdana; 
   	letter-spacing: -1px;  
   	padding: 0px; 
}

h4 a { 
	color: #DF7401;
	text-decoration: underline;
}
h4 a:hover {
	color: #58FAF4;
	text-decoration: none;
}
#body-content {
	font-family: sans-serif;
	font-size: 18px;
}
ul a{
	color: #DF7401;
	text-decoration: none;
}
ul a:hover {
	color: #58FAF4;
	text-decoration: none;
}
#name-2, #name-3 {
	font-size: 22px;
	font-family: Montserrat;
}
#name-2 {
	top: 280px;
}
#name-3 {
	top: 310px;
}