.name-header a {
	color: #DF7401;
}

.top-links a:hover {
	color: #58FAF4;
	text-decoration: none;
}
.first-post {
	color: #DF7401;
	position: absolute; 
   	top: 240px; 
   	left: 290px; 
   	width: 100%; 
   	text-align: left;
   	font-family: Verdana;
   	font-size: 20px;
}
.snippet {
	color: #DF7401;
	position: absolute;
	top: 280px;
	width: 100%;
	text-align: left;
	left: 290px;
	font-family: Verdana;
   	font-size: 20px;
}

p span {
	color: #DF7401; 
   	font: 20px Verdana; 
   	letter-spacing: -1px;  
   	padding: 0px; 
}

h4 a { 
	color: #DF7401;
	text-decoration: underline;
	font-family: cursive;
}

h4 a:hover {
	color: #58FAF4;
	text-decoration: none;
}

#battle-blog {
	height: 200px;
	width: 200px;
}

#body-content {
	font-family: sans-serif;
	font-size: 18px;
}
ul a{
	color: #DF7401;
	text-decoration: none;
}
ul a:hover {
	color: #58FAF4;
	text-decoration: none;
}