table {
	border: solid black thick;
}
th {
	color:#DF7401;
	background-color: black;
	text-decoration: underline;
}
td {
	border: solid black thin;
}
span {
	color:#DF7401;
}
h1 {
	font-family: Open sans;
	color:#DF7401;
}
.top-links {
	position: relative;
	top: 15px;
}
.br {
	border: 1px solid #DF7401;
	border-width: 100%;
	top: 40px;
	position: relative;
}
main {
	top: 40px;
	position: relative;
}
