/*html {
  box-sizing: border-box;
}

body {
  height: 100%;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}*/
.top-links {
	position: absolute;
	text-align: right;
	top: 40px; 
   	left: -20px; 
   	width: 100%; 
}
.top-links a {
	display: inline;
	padding-right: 15px;
	font-size: 20px;
}
a {
	color: #DF7401;
	font-family: sans-serif;
	text-decoration: none;
}
a:hover {
	color: aqua;
	text-decoration: none;
}
a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.social-sites {
	text-align: center;
	position: absolute; 
   	top: 330px; 
   	/*left: 0; */
   	width: 100%; 
}
.social-sites a {
	padding-right: 15px;
}

.main-background {
	width: 100%;
	height: 540px 
}

.img-back { 
   position: relative; 
   width: 100%; 
}
.name-header {
	position: absolute;
	color: #DF7401; 
   	font: bold 60px Cursive, Sans-Serif; 
   	letter-spacing: -1px;  
  	/*left: 390px; */
  	width: 100%; 
  	text-align: center;
	display: block;
}
#name-1 {
   	padding: 0px; 
   	top: 150px;

}
#name-2 {
	top: 230px; 
}
.br {
	border: 1px solid #DF7401;
	border-width: 100%;
}
.headers {
	color: #DF7401;
	font-size: 45px;
	font-family: sans-serif;
	text-align: center;
}

.glance-life {
	display: block;
	/*margin: 0em 5em 0em 5em;*/
	position: relative;
	margin: auto;
}
#project {
	display: block;
	padding-bottom: 1em;
	/*margin: auto;*/
}
 
#blog, #blog2, #blog3, #blog4 {
	color: #DF7401;
	font-family: Verdana;
	font-size: 20px;
}

#one, #two, #three, #four, #five, #six, #seven {
	padding: 0em 1.5em 0em 1.5em;
	height: 100px;
	width: 100px;
}
.column-1, .column-2 {
	margin: auto;
	border: 2px solid orange;
	top: 0px;
  	float: left;
  	width: 45%;
}
.column-1 {
  padding-left: 20px;
}

.column-2 {
  padding-left: 20px;
}

footer {
	clear: left;
	position: relative;
	bottom: 0px;
	background-color: #6E6E6E;
	font-family: Verdana;
	color: #DF7401;
	text-align: center;
	font-size: 14px;
}

.footer {
	padding: 0px 5px 0px 5px;
	height: 20px;
	width: 20px;
}
