/*html {
  box-sizing: border-box;
}

body {
  height: 100%;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}*/
body {
	margin: 0;
}
html {
	margin: 0;
}
.top-links {
	position: absolute;
	text-align: right;
	top: 40px; 
   	left: -20px; 
   	width: 100%; 
}
.top-links a {
	display: inline;
	padding-right: 15px;
	font-size: 20px;
}
a {
	color: #DF7401;
	font-family: sans-serif;
	text-decoration: none;
}
a:hover {
	color: aqua;
	text-decoration: none;
}
.social-sites {
	text-align: center;
	position: absolute; 
   	top: 330px; 
   	/*left: 0; */
   	width: 100%; 
}
.social-sites a {
	padding-right: 15px;
}

.main-background {
	width: 100%;
	height: 540px; 
}

.img-back { 
	position: relative; 
    width: 100%; 
}
.name-header {
	position: absolute;
	color: #DF7401; 
   	font: bold 60px Cursive, Sans-Serif; 
   	letter-spacing: -1px;  
  	/*left: 390px; */
  	width: 100%; 
  	text-align: center;
	display: block;
}
#name-1 {
   	padding: 0px; 
   	top: 150px;

}
#name-2 {
	top: 230px; 
}
.br {
	border: 1px solid #DF7401;
	border-width: 100%;
}
.headers {
	color: #DF7401;
	font-size: 45px;
	font-family: sans-serif;
	text-align: center;
}

.glance-life {
	padding-bottom: 30px;
	position: relative;
}
#project {
	display: block;
	padding-bottom: 1em;
	/*margin: auto;*/
}
 
#blog, #blog2, #blog3, #blog4 {
	font-family: Verdana;
	font-size: 20px;
}
.pic {
	padding: 0em 1.5em 0em 1.5em;
	height: 150px;
	width: 150px;
	display: inline-block;
	text-align: center;
}
.column-1, .column-2 {
	margin-bottom: 10px;
	margin-top: 0;
  	float: left;
  	width: 48%;
  	padding: 0px 10px 10px 10px;
}
.column-2 {
  border-left: 2px solid #DF7401;
}

footer {
	clear: left;
	position: relative;
	bottom: 0px;
	background-color: #6E6E6E;
	font-family: Verdana;
	color: #DF7401;
	text-align: center;
	font-size: 14px;
}

.footer {
	padding: 0px 5px 0px 5px;
	height: 20px;
	width: 20px;
}
.bio {
	font-family: Open Sans;
	padding: 0px 10px 20px 10px;
}