.top-links a {
	color: #DF7401;
	text-decoration: none;
	text-transform: capitalize;
	display: inline;
	padding-right: 15px;
	font-size: 20px;
	font-family: sans-serif;
}

.top-links {
	position: absolute;
	text-align: right;
	top: 40px; 
   	left: -20px; 
   	width: 100%; 
}

.top-links a:hover {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.top-links a:visited {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.main-background {
	width: 100%;
}

.img-back { 
   position: relative; 
   width: 100%; 
}

h1 { 
   position: absolute; 
   top: 160px; 
   /*left: 390px; */
   width: 100%; 
   text-align: center;
}

h1 span {
	color: #DF7401; 
   	font: bold 45px Cursive, Sans-Serif; 
   	letter-spacing: -1px;  
   	padding: 0px; 
}

.name-header {
	display: block;
}

.social-sites a {
	color: #DF7401;
	font-family: sans-serif;
	text-decoration: none;
	text-transform: capitalize;
	padding-right: 15px;
}

.social-sites {
	text-align: center;
	position: absolute; 
   	top: 330px; 
   	/*left: 0; */
   	width: 100%; 
}

.social-sites a:hover {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.social-sites a:visited {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;

}

.br {
	border: 1px solid #DF7401;
	border-width: 100%;
}

.glance {
	color: #DF7401;
	font-size: 45px;
	font-family: Cursive;
	text-align: center;
}

.glance-life {
	display: block;
	/*margin: 0em 5em 0em 5em;*/
	position: relative;
	left: 10.5%;
}

.learn {
	color: #DF7401;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 20px;
	font-family: sans-serif;
	text-align: center;
}

a:hover {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

a:visited {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

footer {
	position: relative;
	bottom: 0px;
	background-color: #6E6E6E;
	font-family: Verdana;
	color: #DF7401;
	text-align: center;
	font-size: 14px;
}

.footer {
	padding: 0px 5px 0px 5px;
	height: 20px;
	width: 20px;
}

.cursive-heading {
	color: #DF7401;
	font-size: 45px;
	font-family: Cursive;
	text-align: center;
}

#project {
	display: block;
	padding-bottom: 1em;
	/*margin: auto;*/
}
 
#blog, #blog2, #blog3 {
	color: #DF7401;
	font-family: Verdana;
	font-size: 20px;
}

#one, #two, #three, #four, #five, #six, #seven {
	padding: 0em 3em 0em 0em;
	height: 100px;
	width: 100px;
}

section {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	border-style: inset;
	border-width: 5px;
	margin-top: 1em;
}