h1 {
	color: #DF7401;
	text-decoration: underline;
}
section img {
	height: 500px;
	width: 500px;
}
body {
	font-family: Open sans;
}
p {
	padding: 0px;
	margin: 0px;
}
#name-2, #name-3 {
	font-size: 22px;
	font-family: Montserrat;
}
#name-2 {
	top: 280px;
}
#name-3 {
	top: 310px;
}